# on veut masquer le repertoire "raw_data".
raw_data
logs
results

.snakemake
.Rhistory

Projet_ChIP_Marina/nohup.complete.log
Projet_ChIP_Marina/nohup.log
Projet_ChIP_Marina/picardtmp_ChIPseq_Oct4_rep1/
Projet_ChIP_Marina/picardtmp_ChIPseq_Oct4_rep2/

.DS_Store
Projet_ChIP_Marina/.DS_Store

Projet_ChIP_Marina/nohup.errors.log
Projet_ChIP_Marina/nohup.ok.log
